*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
    height:100%;
}

body{
    min-height:100vh;
    font-family:Inter, sans-serif;
    background:#F8F5F0;
    color:#333;
}

#root{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

main{
    flex:1;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

section{
    padding:4rem 0;
}

.card{
    background:white;
    padding:2rem;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.btn{
    display:inline-block;

    padding:1rem 2rem;

    background:#2D6A4F;
    color:white;

    text-decoration:none;
    border-radius:8px;

    font-weight:600;

    transition:.3s;
}

.btn:hover{
    background:#1B4332;
}